@import "tailwindcss";

:root {
  --primary: #0f172a;
  --secondary: #1e293b;
  --gold: #c8a96a;
  --light: #f8fafc;
  --dark: #111827;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-inter);
  background: white;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-playfair);
}

section {
  padding: 100px 0;
}

.container-custom {
  max-width: 1280px;
  margin: auto;
  padding: 0 24px;
}